body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.fVZZkj {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #7d97ad;
    font-weight: 700;
    background-color: #e1e7ea;
    background-size: cover;
    background-position: center;
    font-size: 16px;
}

.cPIrHE {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}


/* sc-component-id: Inputstyles__StyledInput-sc-13j2b1s-2 */

.jwQxOL {
    font-size: 15px;
    width: 100%;
    border: none;
    padding: 10px;
    height: 46px;
    background-color: transparent;
}

.gDprDU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 53px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    z-index: 9;
}

@media (max-width:768px) {
    .gDprDU {
        -webkit-transition: -webkit-transform 320ms ease;
        -webkit-transition: transform 320ms ease;
        transition: transform 320ms ease;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        height: auto;
        padding: 0;
        border-bottom: none;
        position: absolute;
        -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        transform: translateY(-200%);
    }
    .gDprDU a {
        padding: 18px 20px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .gDprDU a:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 18px 20px;
    }
}


/* sc-component-id: Itemstyles__StyledItem-sc-1gu22a4-0 */

.fuZbvS {
    padding: 19px 20px 17px 20px;
    text-transform: uppercase;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    -webkit-transition: border-bottom 150ms ease;
    transition: border-bottom 150ms ease;
    border-bottom: 3px solid transparent;
    display: inline-block;
}

.fuZbvS:visited,
.fuZbvS:active,
.fuZbvS:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.fuZbvS:hover {
    border-bottom: 2px solid #45d0c1;
}


/* sc-component-id: flyjer-0-Headerstyles__Header-DDStu */

.bkyhEj {
    background: linear-gradient(to left, #45cad0, #45d0c1);
    width: 100%;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
}

@media (min-width:768px) {
    .bkyhEj function(e) {
        return e.display?"display: "+e.display: "display: flex;";
    }
}

@media (max-width:768px) {
    .bkyhEj {
        display: none;
    }
}

.eHUywM {
    background: linear-gradient(to left, #45cad0, #45d0c1);
    width: 100%;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    position: relative;
}

@media (min-width:768px) {
    .eHUywM {
        display: none;
    }
}

@media (max-width:768px) {
    .eHUywM function(e) {
        return e.display?"display: "+e.display: "display: flex;";
    }
}


/* sc-component-id: Headerstyles__StyledLogo-flyjer-1 */

.gdSusf {
    position: relative;
    width: 144px;
    height: 36px;
}


/* sc-component-id: Headerstyles__AutocommpleteWrapper-flyjer-5 */

.jfXhXT {
    position: relative;
    width: 50%;
}


/* sc-component-id: SmallScreenstyles__SmallScreenAutocommpleteWrapper-oegfrm-0 */

.gcVVLZ {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
}


/* sc-component-id: SmallScreenstyles__SmallScreenSearch-oegfrm-1 */

.goBQMg {
    display: none;
}

.goBQMg>div {
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.goBQMg svg {
    display: none;
}


/* sc-component-id: SmallScreenstyles__ActionsWrapper-oegfrm-2 */

.eQTObz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
}

.eQTObz>svg {
    cursor: pointer;
}


/* sc-component-id: Dropdownstyles__StyledDropdown-sc-11heypz-0 */

.jLpZG {
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: absolute;
    min-width: 210px;
    overflow: auto;
    top: 100%;
    margin-top: 5px;
    right: 0;
    z-index: 9;
    max-height: 0;
    max-width: 0;
    border: 0 none;
}


/* sc-component-id: Itemstyles__StyledItem-r24b89-0 */

.fdBzLP {
    padding: 15px 10px;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.fdBzLP:first-letter {
    text-transform: uppercase;
}

.fdBzLP:hover {
    color: rgba(0, 0, 0, 0.9);
}

.fwdUzb {
    padding: 15px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.fwdUzb:first-letter {
    text-transform: uppercase;
}

.fwdUzb:hover {
    color: rgba(0, 0, 0, 0.9);
}


/* sc-component-id: BigScreenstyles__AvatarWrapper-izboqh-0 */

.kIkKAb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 3;
}


/* sc-component-id: BigScreenstyles__UserName-izboqh-1 */

.eMDhHP {
    margin: 0 10px;
    line-height: 1;
    position: relative;
    top: -2px;
    color: #ffffff;
}


/* sc-component-id: BigScreenstyles__BigScreenSearch-izboqh-2 */

.gUHkeJ>div {
    border-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.gUHkeJ>div>input {
    font-size: 15px;
}


/* sc-component-id: BigScreenstyles__ContainerMenu-izboqh-3 */

.njgeb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* sc-component-id: Contentstyles__StyledContent-sc-1tb5xjz-0 */

.heScdm {
    padding: 20px 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (min-width:768px) {
    .heScdm {
        width: 768px;
        padding: 40px 20px;
    }
}

@media (min-width:992px) {
    .heScdm {
        width: 992px;
    }
}

@media (min-width:1200px) {
    .heScdm {
        width: 1200px;
    }
}

@media (min-width:1600px) {
    .heScdm {
        width: 1600px;
    }
}

.jwQxOL:-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.jwQxOL:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.jwQxOL::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.jwQxOL::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.jwQxOL:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.jwQxOL:focus {
    outline: none;
}

.bkyhEj {
    background: linear-gradient(to left, #45cad0, #45d0c1);
    width: 100%;
    height: 64px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 20px;
}

.jfXhXT {
    position: relative;
    width: 50%;
}

.fedjwe {
    width: 100%;
    display: inline-block;
}

.njgeb {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.gDprDU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 53px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    z-index: 9;
}

.fuZbvS:hover {
    text-decoration: none;
}

.kIkKAb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 3;
}

.jLpZG {
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: absolute;
    min-width: 210px;
    overflow: auto;
    top: 100%;
    margin-top: 5px;
    right: 0;
    z-index: 9;
    max-height: 0;
    max-width: 0;
    border: 0 none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

@media print {
    #root {
        display: none;
    }
}

#print {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}

@media print {
    #print {
        visibility: visible;
        width: 100%;
        height: auto;
        position: absolute;
    }
}

#modal {
    position: absolute;
    top: 0;
}

button,
input {
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 15px;
    line-height: 24px;
}

h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.9);
}

h2 {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
}

h3 {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);
}

h4 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
}

h5 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

h5 {
    margin: 5px 0;
    color: #293841;
}

.ql-snow .ql-tooltip[data-mode="video"] {
    left: 0 !important;
}

.ql-snow .ql-tooltip[data-mode="video"]:before {
    content: "Video:" !important;
}

.ql-snow .ql-tooltip[data-mode="video"]>a.ql-action:after {
    content: "Salvar" !important;
}

.ql-container.ql-disabled .ql-tooltip.ql-hidden {
    display: none;
}

.ql-bubble.ql-disabled .ql-editor {
    padding: 0;
}

.ql-editor * {
    font-family: 'Lato', sans-serif;
}

.ql-editor ol,
.ql-editor ul {
    padding-top: 16px !important;
}

.ql-editor a {
    color: #1FB6FF !important;
}

.ql-editor ol li,
.ql-editor ul li,
.ql-editor ul li p {
    color: #53656F;
    font-size: 15px;
    line-height: 24px;
}

.ql-editor ol li,
.ql-editor ul li {
    margin-bottom: 16px;
}

.ql-editor iframe {
    width: 520px;
    height: 295px;
}

.quill .ql-container .ql-editor p,
.quill .ql-container .ql-editor p span {
    color: #53656F !important;
}

.quill .ql-container .ql-editor img {
    display: block;
    max-width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-initialized .slick-slide {
    display: block;
}

.ReactVirtualized__Table__rowColumn {
    padding: 0 10px;
}

.__react_component_tooltip {
    font-size: 13px !important;
    border-radius: 3px !important;
    padding: 4px 8px !important;
    opacity: 1 !important;
}

.__react_component_tooltip.type-dark {
    background-color: #53656F;
    max-width: 300px;
}

.__react_component_tooltip:after,
.__react_component_tooltip:before {
    display: none !important;
}

.quill-multiple-choice-item {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.quill-multiple-choice-item .ql-container {
    min-height: 46px !important;
    width: calc(100% - 46px);
    border: 1px solid #dfe5e9 !important;
    border-radius: 3px;
}

.quill-multiple-choice-item .ql-editor {
    border: none;
    min-height: 44px !important;
}

.quill-multiple-choice-item .ql-editor:before {
    font-size: 15px !important;
    font-style: normal !important;
    color: #9eaeb7 !important;
    padding-top: 2px;
}

.quill-multiple-choice-item.quill-multiple-choice-item--is-correct .ql-container {
    border: 1px solid #58d68d !important;
}

.quill-multiple-choice-item.quill-multiple-choice-item--is-correct .ql-editor:before {
    color: #58d68d !important;
}

.quill-multiple-choice-item .ql-toolbar {
    border: 0 none !important;
    width: 30px;
    height: 30px;
    margin-left: 16px;
    padding: 0 !important;
}

.quill-multiple-choice-item .ql-toolbar span {
    margin: 0 !important;
    padding: 0 !important;
}

.quill-multiple-choice-item .ql-toolbar .ql-formats:first-child {
    display: none !important;
}

.quill-multiple-choice-item .ql-toolbar button {
    display: none !important;
}

.quill-multiple-choice-item .ql-toolbar button.ql-image {
    display: block !important;
}

.quill-multiple-choice-item .ql-toolbar .ql-image:before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e98f";
    font-size: 24px;
    color: #9eaeb7;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quill-multiple-choice-item .ql-toolbar .ql-image:hover:before {
    color: #53656f;
}

.quill-multiple-choice-item .ql-toolbar .ql-image svg {
    display: none;
}

.react-datepicker-popper {
    z-index: 5 !important;
}

body.league-empty {
    background-color: #8553f4;
    -webkit-transition: background-color 100ms ease;
    transition: background-color 100ms ease;
}

body.league-congratulations {
    background-color: #58D68D;
    -webkit-transition: background-color 100ms ease;
    transition: background-color 100ms ease;
}

@media (min-width:768px) {
    div.shared-books-page {
        padding: 40px 20px 0 20px;
    }
}

.heScdm {
    width: 1200px;
}