.book-button {
    width: 48px;
    height: 48px;
    transition: background-color 0.5s;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #53656f;
    border: none;
    border-radius: 3px;
    background-color: #dfe5e9;
    cursor: pointer;
    padding: 2px;
    list-style-image: none;
}

.book-button {
    background-repeat: no-repeat;
    background-position: center;
}

.book-button:hover {
    background-color: #53656f;
}

#book-bar-text {
    background-image: url("img/text.svg");
}

#book-bar-video {
    background-image: url("img/video.svg");
}

#book-bar-select {
    background-image: url("img/pointer.png");
}

#book-bar-html5 {
    background-image: url("img/html5.svg");
}

#book-bar-more {
    background-image: url("img/more.svg");
}

#book-bar-memoryGame {
    background-image: url("img/gameMemory.svg");
}

#book-bar-gamification {
    background-image: url("img/gamification.svg");
}

#book-bar-options {
    background-image: url("img/options.svg");
}

#book-bar-open {
    background-image: url("img/open.svg");
}

#book-bar-save {
    background-image: url("img/save.svg");
}

#book-bar-view {
    background-image: url("img/view.svg");
}

#book-bar-book {
    background-image: url("img/book.svg");
}