@page {
	margin-top: 0px;
	margin-bottom: 0px;
}


body {
	margin-right: 0px;
	margin-left: 0px;
	padding: 0;
background:0}

.cover { margin-top:0%; 
 text-align: center;
 oeb-column-number:1;
}
img.capa { height: 100%;}